body {
    font-family: Arial, sans-serif;
}

header, footer {
    text-align: center;
    margin: 20px 0;
}

button {
    margin: 5px;
}

button.highlight {
    background-color: yellow;
}

.sticky-container {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 2;
    padding: 10px 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #000;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #333; /* Same color as footer */
    color: white;
    position: sticky;
    top: 0;
    z-index: 1;
}

.header-cell {
    background-color: #333;
    color: white;
}

.log-cell.highlight {
    background-color: yellow;
}

.null-cell {
    background-color: #f0f0f0;
    color: #ccc;
}

.valid-cell{
    background-color: #71ff4e;
    color: #000000;
}

.error-cell {
    background-color: #ffbe4e;
    color: #000000;
}

.scrollable-table {
    display: block;
    max-height: 100vh;
    overflow-y: auto;
}

.tooltip {
    position: absolute;
    background-color: #333;
    color: white;
    padding: 5px;
    border-radius: 5px;
    z-index: 1000;
    display: none;
}