body {
    font-family: Arial, sans-serif;
}

header, footer {
    text-align: center;
    margin: 20px 0;
}

button {
    margin: 5px;
}

button.highlight {
    background-color: yellow;
}

.sticky-container {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 2;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
}

.keyboard-model-container {
    flex: 1;
}

.mini-keyboard {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    flex: 1;
    font-size: small;
    width: 100%; /* Ensure it takes up the full width of the container */
}

.mini-keyboard .row {
    display: flex;
    justify-content: center; /* Center the keys horizontally */
    width: 100%; /* Ensure rows take up full width */
}

.mini-keyboard .key {
    border: 1px solid #000;
    margin: 2px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 0.9;
    border-radius: 5px;

    /* Dynamically resize keys */
    flex: 1 1 auto; /* Allow keys to grow and shrink */
    min-width: 20px; /* Set a minimum width for keys */
    height: 40px; /* Adjust height proportionally */
}

.mini-keyboard .key.wide {
    flex: 2 1 auto; /* Wide keys take up more space */
}

.mini-keyboard .key.extra-wide {
    flex: 3 1 auto; /* Extra-wide keys take up even more space */
}

.mini-keyboard .placeholder {
    flex: 1 1 auto;
    visibility: hidden;
}

.mini-keyboard .space {
    flex: 5 1 auto; /* Spacebar takes up more space */
}

.mini-keyboard .advancedSettingsToggle {
    flex: 2 1 auto; 
}


.mini-keyboard .key.valid {
    background-color: #71ff4e;
    color: #000000;
}

.mini-keyboard .key.error {
    background-color: #ff4e4e;
    color: #000000;
}

.mini-keyboard .key.null{
    background-color: #868686;
    color: #000000;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #000;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #333; /* Same color as footer */
    color: white;
    position: sticky;
    top: 0;
    z-index: 1;
}

.header-cell {
    background-color: #333;
    color: white;
}

.log-cell.highlight {
    background-color: yellow;
}

.null-cell {
    background-color: #f0f0f0;
    color: #ccc;
}

.valid-cell{
    background-color: #71ff4e;
    color: #000000;
}

.error-cell {
    background-color: #ffbe4e;
    color: #000000;
}

.scrollable-table {
    display: block;
    max-height: 100vh;
    overflow-y: auto;
}

.tooltip {
    position: absolute;
    background-color: #333;
    color: white;
    padding: 5px;
    border-radius: 5px;
    z-index: 1000;
    display: none;
}

.hidden {
    display: none;
}

.keyboard-model-container.hidden + .mini-keyboard {
    flex: 1 1 100%; /* Make the mini-keyboard take up the full width */
}